.main_bar.header
  .chatMain_group-info
    .chatMain_group-info__group_left
      .chatMain_group-info__side-name
        = @group.name  
      .chatMain_group-info__side-name__subName
        member:
        - @group.users.each do |user|
          = user.name
    .chatMain_group-info__group_right
    .chatMain_group-info__side_menu  
      = link_to edit_group_path(@group.id) do
        Edit
  

  .main_bar.contents
    = render @messages
   


  .footer
    = form_for [@group, @message] do |f|
      .footer__message_bar_message
        = f.text_field :content, class: 'footer__message_bar_message__imgbtn', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input'
      = f.submit 'Send', class: 'footer_message_sidebtn'


